



<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1, width=device-width, user-scalable=no">
	<meta charset="utf-8">
	<meta name="description" content="Find restaurants near you, place orders online...">
	<title>Hotspot | Meals from your favorite locals </title>
	<link rel="stylesheet" type="text/css" href="https://hotplaces.pythonanywhere.com/static/assets/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="https://hotplaces.pythonanywhere.com/static/assets/css/styles.css">
</head>
<body>
	<nav class="navbar px-3 bg-light">
		<div class="container">
			<h4 class="navbar-brand"> Hotspot </h4>

			<ul class="nav">
				<li style="margin-right: 15px;"> <a class="nav-link btn text-dark btn-sm btn-light" href="/superuser/login/"> Login </a> </li>

				<li style="margin-right: 5px;"> <a class="shadow nav-link btn text-dark btn-sm btn-light" href="#login">
					<i class="fas fa-user"></i> Sign up </a>
				</li>
			</ul>
		</div>
	</nav>


	<div>

<section>
	<div class="hero">
		<div class="hero-intro">
			<h1 class="hero-text mt-5"> Are you hungry? </h1>
			<h4 class="bolder pr-3 orange-text hero-sub-text"> Find meals from restuarants near you now! </h4>

			<div class="mt-5 form-group bg-white p-3 rounded " style="max-width: 600px;">
				<p class="bold"> Enter your email address </p>
				<input type="text" name="address" class="search-text form-control" placeholder="Address">
				<button class="btn btn-red d-block mt-2 ml-auto bold shadow text-white"> Find food </button>
			</div>
		</div>

		<div class="hero-image">
			<img src="https://hotplaces.pythonanywhere.com/static/assets/img/gallery/hero-header.png" />
		</div>
	</div>
</section>

<section class="p-3 container">
	<div class="row m-0 pt-5 justify-content-center">

		<div class="food-card">
			<div class="food-card-image">
				<img class="food-img" src="https://hotplaces.pythonanywhere.com/static/assets/img/gallery/chowmein.png" />
			</div>

			<div class="">
				<h5 class="mt-2 bold"> Chowmein  </h5>
				<h6 class="mt-1"> $12  </h6>
				<button class="btn bg-orange bold shadow text-white p-2 mt-3 cta-long"> Explore </button>
			</div>
		</div>

		<div class="food-card">
			<div class="food-card-image">
				<img class="food-img" src="https://hotplaces.pythonanywhere.com/static/assets/img/gallery/kuakata.png" />
			</div>

			<div class="">
				<h5 class="mt-2 bold"> Kuakata Steak  </h5>
				<h6 class="mt-1"> $12  </h6>
				<button class="btn bg-orange bold shadow text-white p-2 mt-3 cta-long"> Explore </button>
			</div>
		</div>

		<div class="food-card">
			<div class="food-card-image">
				<img class="food-img" src="https://hotplaces.pythonanywhere.com/static/assets/img/gallery/burger.png" />
			</div>

			<div class="">
				<h5 class="mt-2 bold"> Hampton Hamburgers </h5>
				<h6 class="mt-1"> $12  </h6>
				<button class="btn bg-orange bold shadow text-white p-2 mt-3 cta-long"> Explore </button>
			</div>
		</div>

		<div class="food-card">
			<div class="food-card-image">
				<img class="food-img" src="https://hotplaces.pythonanywhere.com/static/assets/img/gallery/dancake.png" />
			</div>

			<div class="">
				<h5 class="mt-2 bold"> Dancake with Honey syrup </h5>
				<h6 class="mt-1"> $12  </h6>
				<button class="btn bg-orange bold shadow text-white p-2 mt-3 cta-long"> Explore </button>
			</div>
		</div>
	</div>
</section>


<section id="foodies" class="mt-5 pt-5">
	<h2 class="font-weight-bold text-center mt-3 mb-4"> How it works! </h2>

	<div class="mt-4 container-fluid ">

		<div class="row m-0 mt-4 points">

			<div class="point m-2">
				<div class="point-wrap" style="padding: 2.3rem;">
					<img src="https://hotplaces.pythonanywhere.com/static/assets/img/gallery/meals.png" class="point-img">
				</div>
				<p class="point-text"> Find meals and cusines you love, explore menus.
				</p>
			</div>

			<div class="point m-2">
				<div class="point-wrap" style="padding: 2.3rem 3rem;">
					<img src="https://hotplaces.pythonanywhere.com/static/assets/img/gallery/location.png" class="point-img">
				</div>
				<p class="point-text"> Get your order delivered your location.
				</p>
			</div>


			<div class="point m-2">
				<div class="point-wrap" style="padding: 2.3rem 3rem;">
					<img src="https://hotplaces.pythonanywhere.com/static/assets/img/gallery/order.png" class="point-img">
				</div>
				<p class="point-text"> Place your order.
				</p>
			</div>


			<div class="point m-2">
				<div class="point-wrap" style="padding: 2.23rem 3.3rem;">
					<img src="https://hotplaces.pythonanywhere.com/static/assets/img/gallery/pay.png" class="point-img">
				</div>
				<p class="point-text"> Pay online.
				</p>
			</div>

		</div>
	</div>

	<div class="mt-5 mobile-app text-center justify-content-between row">
		<div class="col-sm-6">
			<img class="app-image" src="https://hotplaces.pythonanywhere.com/static/assets/img/gallery/phone-cta-one.png" />
		</div>

		<div class="col-sm-6">

			<h2 class="mb-4 mt-4"> Download The App </h2>

			<p class="mt-5 mb-5"> The fastest and easiest way to find food is on the app.
				<br /> Enjoy a better experience, place orders, pay online and recieve your order online.
				Enjoy a better experience, place orders, pay online and recieve your order online.
			</p>

			<div class="text-center m-0 justify-content-around mt-3 p-2">
				<a class="p-0 m-2 small no-decor mb-2" href="">
					<img class="shadow-sm rounded" width="150px" src="https://hotplaces.pythonanywhere.com/static/assets/img/gallery/app-store.svg" />
				</a>

				<a class="p-0 m-2 small no-decor mb" href="">
					<img class="shadow-sm rounded" width="150px" src="https://hotplaces.pythonanywhere.com/static/assets/img/gallery/google-play.svg" />
				</a>
			</div>
		</div>

	</div>
</section>


<section id="biz" class="biz">
	<h2 class="mb-5 bold text-center text-white"> For Businesses </h2>

	<div class="">
		<div class="">
			<h5> Give your customers a faster way to order </h5>
		</div>

	</div>


</section>

<section class="pt-5">



	<div class="">
		<div id="letter" class=" pt-5 pb-5">
			<h3 class="text-center mb-4 mt-4 text-dark"> Subscribe to the waiting list! </h3>
			<form method="post" class="m-auto" style="max-width: 800px">
				<input type="hidden" name="csrfmiddlewaretoken" value="qvfesIxCaOXHuapBye41fOdAFdwhSommbmLJYRoy2P2dHXJD8I9tRfXYlBf7r8DE">
				<input class="form-control p-4 bold" type="email" placeholder="Your email" name="email" />
				<button style="width: 170px" class="btn bold d-block p-3 bg-white shadow ml-auto mt-2"> Subscribe </button>
				<p class="mt-3 text-white bold mb-0">
					You'll get notified when we release our app. Waiting lists subcribers get amazing discounts off lunch deals.
				</p>
			</form>
		</div>
	</div>

</section>




	</div>

	<footer class="py-5 bg-dark ">
		<div class="container">
			<h4 class="navbar-brand"> Hotspot </h4>
			<div class="col-sm-6 p-0 col-lg-5">
				<p class="text-white">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>

			<ul class="list-unstyled nav">
				<li class="p-2 foot-link"> <a href="#" class="nav-link text-white bold"> Terms of use </a> </li>
				<li class="p-2 foot-link"> <a href="#" class="nav-link text-white bold"> Privacy policy </a> </li>
				<li class="p-2 foot-link"> <a href="#" class="nav-link text-white bold"> API </a> </li>
				<li class="p-2 foot-link"> <a href="#" class="nav-link text-white bold"> Company </a> </li>
			</ul>

		</div>
	</footer>

</body>
</html>